<div class="main-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img src="img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3>Dr. <%= user.fullName %></h3>
                                    <div class="patient-details">
                                        <h5 class="mb-0">Works in: Medical Center</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li class="active">
                                        <a href="appointments.html">
                                            <i class="fas fa-calendar-check"></i>
                                            <span>Appointments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/batch/record">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Record New Batch</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/batch/view">
                                            <i class="fas fa-user-injured"></i>
                                            <span>View Recorded Batches</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users/logout">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="appointments">

                        <div class="appointment-list">
                            <div class="profile-info-widget">
                                <a href="patient-profile.html" class="booking-doc-img">
                                    <img src="img/patients/patient.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3><a href="patient-profile.html">Patient Name</a></h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i> Kuala Lumpur, Malaysia</h5>
                                        <h5><i class="fas fa-envelope"></i> <a
                                                href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="44362d272c25362004213c25293428216a272b29">[email&#160;protected]</a>
                                        </h5>
                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +60 12 124 5123</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="appointment-action">
                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal"
                                    data-target="#appt_details">
                                    <i class="far fa-eye"></i> View
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                    <i class="fas fa-check"></i> Accept
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>


                        <div class="appointment-list">
                            <div class="profile-info-widget">
                                <a href="patient-profile.html" class="booking-doc-img">
                                    <img src="img/patients/patient1.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3><a href="patient-profile.html">Patient Name </a></h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i> 12 Nov 2019, 5.00 PM</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i> North Carolina, United States</h5>
                                        <h5><i class="fas fa-envelope"></i> <a
                                                href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="0a69626b78666f646f786f6f6e4a6f726b677a666f24696567">[email&#160;protected]</a>
                                        </h5>
                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +60 12 124 5123</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="appointment-action">
                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal"
                                    data-target="#appt_details">
                                    <i class="far fa-eye"></i> View
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                    <i class="fas fa-check"></i> Accept
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>


                        <div class="appointment-list">
                            <div class="profile-info-widget">
                                <a href="patient-profile.html" class="booking-doc-img">
                                    <img src="img/patients/patient2.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3><a href="patient-profile.html">Patient Name</a></h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i> 11 Nov 2019, 8.00 PM</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i> Kuala Lumpur, Malaysia</h5>
                                        <h5><i class="fas fa-envelope"></i> <a
                                                href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="017573607768727573686c636d64416479606c716d642f626e6c">[email&#160;protected]</a>
                                        </h5>
                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +60 12 124 5123</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="appointment-action">
                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal"
                                    data-target="#appt_details">
                                    <i class="far fa-eye"></i> View
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                    <i class="fas fa-check"></i> Accept
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>


                        <div class="appointment-list">
                            <div class="profile-info-widget">
                                <a href="patient-profile.html" class="booking-doc-img">
                                    <img src="img/patients/patient3.jpg" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3><a href="patient-profile.html">Patient Name</a></h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i> 9 Nov 2019, 9.00 AM</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i> Kuala Lumpur, Malaysia</h5>
                                        <h5><i class="fas fa-envelope"></i> <a
                                                href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="54373526383f3138382d14312c35392438317a373b39">[email&#160;protected]</a>
                                        </h5>
                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +60 12 124 5123</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="appointment-action">
                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal"
                                    data-target="#appt_details">
                                    <i class="far fa-eye"></i> View
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                    <i class="fas fa-check"></i> Accept
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT0001</span>
                                    <span class="text">21 Oct 2019 10:00 AM</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button type="button" class="btn bg-success-light btn-sm"
                                            id="topup_status">Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="title">Status:</span>
                        <span class="text">Completed</span>
                    </li>
                    <li>
                        <span class="title">Confirm Date:</span>
                        <span class="text">29 Jun 2019</span>
                    </li>
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">$450</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>