<!DOCTYPE html>
<html>

<head>
	<title>Form Submitted Successfully</title>
	<link rel="stylesheet" href="./style.css" />
	<link href=
"https://fonts.googleapis.com/css2?family=Poppins&display=swap"
		rel="stylesheet" />
</head>

<body>
	<div class="containerFormSubmittedMessage">
		<h1>Form Submitted Successfully!</h1>
		
<p>
			Thank you for contacting us! Our
			team will mail you shortly.
		</p>

        <ul class="users">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < users.length; i++) {%>
              <li class="user">
                <!-- Output name from the iterated quote object -->
                <span><%= users[i].name %></span>:
                <!-- Output quote from the iterated quote object -->
                <span><%= users[i].reason %></span>
              </li>
            <% } %>
          </ul>

	</div>
</body>

</html>
