<div class="content" style="height: 100vh; background-image: url(https://news.emory.edu/features/2021/07/emory-inspired-vaccinations/assets/AUFW5W25an/footer-v2-h-no-logo-1734x970-1734x970-1734x970.jpeg);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        
        <div class="account-content">
          <div style="height: 90vh;" class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-6 login-right">
              <div style="text-align: center;" class="login-header">
                <img  width="50%" src="http://localhost/img/logogetw.png" alt="">
                <h3>Authentication</h3>
              </div>
              <% include ./partials/messages %>
              <form action="/users/login" method="POST">
                <div class="form-group form-focus">
                  <input type="text" id="username" name="username" class="form-control floating">
                  <label class="focus-label">Email</label>
                </div>
                <div class="form-group form-focus">
                  <input type="password" id="password" name="password" class="form-control floating">
                  <label class="focus-label">Password</label>
                </div>
      
                <button class="btn btn-primary btn-block btn-lg login-btn"
                  type="submit">Login</button>
            
                <div class="text-center dont-have">Don’t have an account? <a
                    href="/users/register">Register</a></div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
